<h1>Find and Replace!</h1>
<form class="" action='/results'>
  <div class="form-group">
    <label for="input-string">Enter a sentence to replace from</label>
    <input name="input-string" class="form-control" type="text">
    <label for="find">Enter a word to replace</label>
    <input name="find" class="form-control" type="text">
    <label for="replace">Enter the replacement word</label>
    <input name="replace" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-info">Find! Replace!</button>
</form>
